*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.home{
    background:#fff;
    position: relative;
    color: #272525;;
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    padding: 10px ;
    align-items: center;
    background: #287bff;
}

nav h1{
    color: #fff;
}
nav .menu-img{
    margin-right: 20px;
    width: 25px;
    cursor: pointer;
    margin-left: 20px;
}

nav .logo{
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline;
    margin: 20px;
    list-style: none;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    background: #287bff;
    padding: 10px 10px;
    border-radius: 50%;
}

.active{
    background: #003cb3;
    padding: 10px 10px;
    border-radius: 50%;
}

a:hover{
    background: #3C5353;
    padding: 10px 10px;
    border-radius: 50%;
}

.text-container{
    max-width: 600px;
    margin-top: 10%;
    margin-left: 10%;
}

.text-container h1{
    font-size: 40px;
    font-weight: 200;
}

.text-container a{
    text-decoration: none;
    display: inline-block;
    color:#fff;
    background: #003cb3;
    font-size: 20px;
    border-radius: 40%;
    padding: 14px 40px;
    margin-top: 20px;
}

canvas {
    max-width: 300px;
    max-height: 300px;
}

#pie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: -25%;
}

.footer{
    display: flex;
    height: 100px;
    width: 100%;
    background:#d2d5db;
    justify-content: center;
    text-align: center;
}

.footer h5{
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 50px;
    color: #272525;
}
=======
    padding: 20px;
    color: #fff;
}
>>>>>>> 88f0df32476a1f892a35a0d2dbf8de1f8845388f
=======
    padding: 50px;
    color: #272525;
}
>>>>>>> b1ab691c1e13eed70b34c03420a48f0099b096fa
